.retry
.vault_pass
.venv/
venv/
.env
*.env
*.tar
*.tar.gz
*.tgz
*.sql
*.dump
*.bak
*.backup
*.tmp
*.log
inventory/hosts.yml
inventory/group_vars/all.yml
inventory/group_vars/firephenix.yml
inventory/group_vars/vault.yml
