user default off
user {{ firephenix_valkey_health_user }} reset on >{{ firephenix_valkey_health_password }} -@all +ping
user {{ firephenix_valkey_limiter_user }} reset on >{{ firephenix_valkey_limiter_password }} ~{{ firephenix_limiter_key_prefix }}:* -@all +ping +get +set +del +exists +expire +pttl +ttl +incrby +lindex +lpush +ltrim +rename +keys +evalsha +script|load +client|setinfo
user {{ firephenix_valkey_backend_user }} reset on >{{ firephenix_valkey_backend_password }} ~discord:online_users ~teamspeak:online_users ~discord:channel:* ~discord:moveshield:* ~discord:ignore_role:* ~discord:apex_channel:* ~discord:skin:* ~teamspeak:channel:* ~teamspeak:moveshield:* ~teamspeak:ignore_role:* ~teamspeak:apex_channel:* ~teamspeak:skin:* ~gameserver:ttt:status ~gameserver:ttt:responses:* &discord:commands &teamspeak:commands &gameserver:ttt:commands -@all +ping +get +del +publish +client|setinfo
user {{ firephenix_valkey_bot_user }} reset on >{{ firephenix_valkey_bot_password }} ~discord:online_users ~teamspeak:online_users ~discord:channel:* ~discord:moveshield:* ~discord:ignore_role:* ~discord:apex_channel:* ~discord:skin:* ~teamspeak:channel:* ~teamspeak:moveshield:* ~teamspeak:ignore_role:* ~teamspeak:apex_channel:* ~teamspeak:skin:* ~gameserver:ttt:achievement_events &discord:commands &teamspeak:commands -@all +ping +set +subscribe +xgroup +xreadgroup +xack +client|setinfo
user {{ firephenix_valkey_ttt_user }} reset on >{{ firephenix_valkey_ttt_password }} ~gameserver:ttt:status ~gameserver:ttt:responses:* ~gameserver:ttt:achievement_events &gameserver:ttt:commands -@all +setex +subscribe +xadd
